<a href="https://colab.research.google.com/github/AshfiIslam/MachineLearningCode/blob/main/decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
from sklearn import tree
from google.colab import files

In [14]:
uploaded = files.upload()

Saving male female.csv to male female.csv

In [15]:
df=pd.read_csv('male female.csv')
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [18]:
x=df.iloc[:,:-1]
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [20]:
y=df.iloc[:,3]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [25]:
classify_=tree.DecisionTreeClassifier()
classify_=classify_.fit(x,y)
prediction_=classify_.predict([(181,80,41)])
prediction_

array(['male'], dtype=object)